@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
.login-page{
    background-image: url(./assets/pikachuIntro.gif);
    background-position: right;
    color: #fff;
    height: 39rem;    
}
.login-page h1{
    margin-top: 13rem;
    font-size: 50px;  
}
.characterIntro h1{
    margin-top: 4rem;
}
.btn-danger{
    position: absolute;
    right: 60px;
    top: 50px;
    cursor: pointer;
    
}

.initialCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem;

}
.pokemons-container{
    background-color: rgb(153, 146, 146);
    width: 250px;
    height: 260px;
    margin-top: 1.5rem;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    
}
.pokemons-container image{
    width: 80px;    
    height: 80px;
}
.pokemons-container h3{
    margin-top: 20px;
}
.movesPokemon{
    /* display: flex; */
    /* flex-wrap: wrap; */
    font-size: 16px;
    background-color: rgb(31, 31, 63);
    width: 450px;
    justify-content: center;
    text-align: center;
    margin-left: 2rem;
    border-radius: 10px;
}
.infoPokemon{
    background-color: rgba(208, 205, 211, 0.486);
    width: 35rem;
    height: 50rem;
    margin-left: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.infoPokemon h1{
    margin-top: 5rem;
}

.infoPokemon h2{
    font-size: 16px;
}

.pokemon-card{
    display: flex;
    margin-left: 4rem;
    margin-top: 10rem
    
}